@media(max-width:650px) {
    body{
        margin: 0px;
        padding: 0px;
    }

    #burguer {
        display: block;
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        font-size: 2em;
    }

    menu > ul{
        position: absolute;
    }

    menu > ul > li {
        display: block;
    }
    
    menu > ul > li > a {
        display: flex;
        padding-top: 20px;

    }
    
    menu {
        position: absolute;
        top: 50px;
        right: 0; 
        width: 180px;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        background-color:  #f2f2f2;;
        display: none;
    }
    
    menu.active {
        display: block;
    }

    body.menu-active {
        overflow-y: hidden;
    } 

    #cardapio h2{
        font-size: 2em;
    }

    #fotos-prato img{
        width: 400px;
    }

    #txt-card{
        font-size: 1em;
    }

    #como-chegar h2{
        font-size: 2em;
    }

    #mapa iframe{
        width: 400px;
        height: 450px;
    }

    #contato{
        width: 400px;
    }

    input,
    textarea {
        padding: 10px 5px;
    }

    footer p{
        font-size: 0.9em;
    }

    footer a{
        font-size: 0.8em;
    }
}